__pycache__/
*.pyc
*.pyo
*.log
*.swp
*.swo
*.pem
*.key
.venv/
venv/
env/
.idea/
.vscode/
.DS_Store
Thumbs.db
.env

.terraform/
terraform.tfstate
terraform.tfstate.*
terraform.tfstate*
terraform.tfvars
*.tfvars